{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
    <li>
        <form action="/abook/makefakes" method="GET">
            {% csrf_token %}
        <a href="javascript:;" onclick="parentNode.submit();">Generate fake data</a>
        </form>
    </li>
{% endblock %}